exclude: '^docs/|/migrations/'
default_stages: [ commit ]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: detect-private-key
      - id: check-added-large-files
        args: [ '--maxkb=100' ]

  - repo: https://github.com/adamchainz/django-upgrade
    rev: '1.14.1'
    hooks:
      - id: django-upgrade
        args: [ '--target-version', '4.2' ]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.10.1
    hooks:
      - id: pyupgrade
        args: [ --py311-plus ]

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        exclude: \.py-tpl$

  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [ '--profile=black' ]

  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        args: [ '--ignore=E501' ]


  - repo: https://github.com/python-poetry/poetry
    rev: 1.6.0  # add version here
    hooks:
      - id: poetry-export
        args: [ "-f", "requirements.txt", "-o", "requirements/requirements.txt" ]
      - id: poetry-export
        args: [ "-f", "requirements.txt","--with","dev","--with","test", "-o", "requirements/dev-requirements.txt" ]
      - id: poetry-export
        args: [ "-f", "requirements.txt","--only","github", "-o", ".github/requirements.txt" ]
      - id: poetry-check
      - id: poetry-lock

# sets up .pre-commit-ci.yaml to ensure pre-commit dependencies stay up to date
ci:
  autoupdate_schedule: weekly
  skip: [ ]
  submodules: false
