name: gh
on:
  push:

jobs:
  gh:
    if: github.repository_owner == 'azataiot' && github.repository == 'azataiot/django-template'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - run:
          gh auth status
