name: Github Automation
on:
  push:
    branches:
      - 'hotfix-*'
      - 'release-*'

jobs:
  release:
    if: github.repository_owner == 'azataiot' && github.repository == 'azataiot/django-template'
    env:
      GH_TOKEN: ${{ github.token }}
    permissions:
      issues: write
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: gh
        run:
          gh auth status
      - name: Get version from pyproject.toml
        run: |
          echo "VERSION=$(grep '^version =' pyproject.toml | awk -F\" '{print $2}')" >> $GITHUB_ENV

      - name: gh release create
        run: |
          gh release create --generate-notes --title "Release $VERSION" "$VERSION"

      - name: gh pr create (dev)
        if: success()
        run: |
          gh pr create --title "merge release updates" --label "update" --base "dev"
          gh pr create --title "merge release updates" --label "update" --base "main"
