name: gh
on:
  push:

jobs:
  gh:
    if: github.repository_owner == 'azataiot' && github.repository == 'azataiot/django-template'
    env:
      GH_TOKEN: ${{ github.token }}
    permissions:
      issues: write
      pull-requests: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: gh
        run:
          gh auth status
      - name: gh release create
        run: |
          gh release create --generate-notes --title "Release ${{ github.ref }}" "${{ github.ref }}"
