name: Release

on:
  push:
    branches:
      - 'release-*'
      - 'hotfix-*'

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - name: Get project version
        id: get-project-version
        run: |
          echo "VERSION=$(grep -oP '(?<=version = ")[^"]*' pyproject.toml)" >> $GITHUB_ENV
      - name: Create or update release
        run: |
          gh release create "${{ env.VERSION }}"

      - name: Create PR to main
        run: |
          gh pr create --base main --head "${{ github.ref }}"

      - name: Create PR to dev
        run: |
          gh pr create --base dev --head "${{ github.ref }}"
