name: Release

on:
  push:
    branches:
      - 'release-*'
      - 'hotfix-*'
  workflow_dispatch: # to trigger manually

jobs:
  release:
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    if: github.repository_owner == 'azataiot'
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v3
      - name: Get project version
        id: get-project-version
        run: echo "VERSION=$(grep -oP '(?<=version = ")[^"]*' pyproject.toml)" >> $GITHUB_ENV
        shell: bash

      - name: Create Release
        uses: ncipollo/release-action@v1.13.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Release ${{ VERSION }}
          tag: ${{ VERSION }}
          allowUpdates: true
          generateReleaseNotes: true

      - name: Commit changes
        run: |
          git add requirements/requirements.txt requirements/dev-requirements.txt
          git commit -m "Update requirements.txt and dev-requirements.txt" || echo "No changes to commit"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: Update requirements.txt and dev-requirements.txt
          commit-message: Auto-update requirements.txt and dev-requirements.txt
          branch: update/requirements
          labels: update
