name: Release

on:
  push:
    branches:
      - 'hotfix-*'
      - 'release-*'
    tags:
      - '*'
  workflow_dispatch: # to trigger manually

jobs:
  release:
    permissions:
      id-token: write
      contents: read
      pull-requests: write
    if: github.repository_owner == 'azataiot'
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v3
      - name: Get project version
        id: get-project-version
        run: echo "VERSION=$(grep -oP '(?<=version = ")[^"]*' pyproject.toml)"
        shell: bash
        env:
          VERSION: ${{ steps.get-project-version.outputs.VERSION }}


      - name: Create Release
        uses: ncipollo/release-action@v1.13.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Release ${{ steps.get-project-version.outputs.VERSION }}
          tag: ${{ steps.get-project-version.outputs.VERSION }}
          allowUpdates: true
          generateReleaseNotes: true

      - name: Create comment
        uses: actions/github-script@v5
        with:
          script: |
            const { owner, repo, number } = context.issue;
            const body = 'Update requirements.txt and dev-requirements.txt" || echo "No changes to commit';
            const comment = await github.rest.issues.createComment({ owner, repo, issue_number: number, body });
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: Update requirements.txt and dev-requirements.txt
          commit-message: Auto-update requirements.txt and dev-requirements.txt
          branch: update/requirements
          labels: update
