name: Release

on:
  push:
    branches:
      - 'release-*'
      - 'hotfix-*'

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - name: Get project version
        run: |
          echo "::set-output name=version::$(poetry version)"
      - name: Create or update release
        run: |
          gh release create "${{ steps.get-project-version.outputs.version }}"

      - name: Create PR to main
        run: |
          gh pr create --base main --head "${{ github.ref }}"

      - name: Create PR to dev
        run: |
          gh pr create --base dev --head "${{ github.ref }}"
